<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "navbar.css">
        <link rel = "stylesheet" href = "index.css">
        <title>ReadSpace</title>
    </head>

    <body>
<nav>
    <a href="#">Home</a> |
    <a href="#">Search</a> |
    <a href="{% url 'view_books' %}">Books</a> |
    <a href="#">Borrowed Books</a> |
    <a href="#">Login</a> |
    <a href="#">Sign Up</a> |
    <a href="{% url 'add_book_page' %}">Add Book</a> |
    <a href="#">Manage Books</a> 
</nav>
        <hr>
        <center>
            <h1 class = "site-name"><em>ReadSpace</em></h1>
            <i style="color: #2d4594;"><h2>"While (Alive) { Read, Learn and Grow }"</i></h2>
            <p>Welcome,Ready to dive into a new world?</p>
        </center>
    </body>

</html>